In [2]:
name = 'S Khan'
university = "Hamdard University"
department = "Managament Sciences"
reg_no = 2000588

In [3]:
print(name)

S Khan

In [4]:
admit_card = f"""
name = {name}
university = {university}
department = {department}
reg_no = {reg_no}"""
print(admit_card)

name = S Khan
university = Hamdard University
department = Managament Sciences
reg_no = 2000588

In [ ]:
operators
= assign value
+ addition
- substraction
* multiplication
/ division
% modulas
// flood division

assign / arthematic / comparative
expresssion vs statement (difference between Assignment)

In [ ]:
# expression vs statement (python naming conventions) Assignment

In [6]:
## Assign Operator

In [ ]:
# variable_name = value
#

In [11]:
teacher_name = "Muhammad Qasim"
teacher_name = 'Muhammad Qasim'
teacher_name = """Muhammad Qasim"""
teacher_name = '''Muhammad Qasim'''

In [12]:
print(teacher_name)
print(type(teacher_name))
print(id(teacher_name))

Muhammad Qasim
<class 'str'>
2100497120688

In [14]:
t1 = "Muhammad Qasim"
t2 = 'Muhammad Qasim'

In [18]:
print(t1)
print(type(t1))
print(id(t1))

print(t2)
print(type(t2))
print(id(t2))

Muhammad Qasim
<class 'str'>
2100497147120
Muhammad Qasim
<class 'str'>
2100497145968

In [ ]:
nick_name = Shallow Copy
original_name = Deep Copy

In [19]:
num1 = 10 # int
num2 = 5 # int
print(num1 + num2) # result int

15

In [20]:
num1 = 10.2 # float
num2 = 5 # int
print(num1 + num2) # result float

15.2

In [21]:
num1 = 10.2 # float
num2 = 5 # int
result = (num1 + num2) # result float
print(result)
print(type(result))

15.2
<class 'float'>

In [23]:
num1 = 10 # float
num2 = 5 # int
print(num1 - num2) # result float

5

50

In [25]:
num1 = 10 # int
num2 = 5 # int
print(num1 / num2) # result float

2.0

In [26]:
num1 = 11 # float
num2 = 3 # int
print(num1 % num2) # result int

2

In [27]:
num1 = 10 # int
num2 = 5 # int
print(num1 / num2) # result float

2.0

In [28]:
num1 = 14 # int
num2 = 5 # int
print(num1 // num2) # result int

2

In [ ]:
Assign Operator

In [31]:
a = 5
print(a)
a = a + 3
print(a)
a += 3
print(a)

5
8
11

# String Concatination
# # string formation

In [35]:
student_card = """
a          Karachi
b
c
"""

print(student_card)

a          Karachi
b
c

# # https://www,tutorialspoint.com/python/python_str

In [36]:
student_card = """
Saylani Welfare International Trust
Advance Data Science / Artificial Intelligence

Roll no: 00012

Name: Shahzad Khan \t Father's Name: Shabbir Khan
Batch: 3              Timings:09:00 pm 12:00 am     
"""

print(student_card)

Saylani Welfare International Trust
Advance Data Science / Artificial Intelligence

Roll no: 00012

Name: Shahzad Khan 	 Father's Name: Shabbir Khan
Batch: 3              Timings:09:00 pm 12:00 am

In [37]:
student_card = """
Saylani Welfare International Trust
Advance Data Science / Artificial Intelligence

Roll no: {}

Name: {} \t Father's Name: {}
Batch: {}              Timings: {}     
"""

print(student_card)

Saylani Welfare International Trust
Advance Data Science / Artificial Intelligence

Roll no: {}

Name: {} 	 Father's Name: {}
Batch: {}              Timings: {}

In [38]:
roll_no = '00012'
student_name = "Shahzad Khan"
f_name = "Shabbir Khan"
batch = "Batch 3"
timings = "09:00pm - 12:00am"

student_card = f"""
Saylani Welfare International Trust
Advance Data Science / Artificial Intelligence

Roll no: {roll_no}

Name: {student_name} \t Father's Name: {f_name}
Batch: {batch}              Timings: {timings}     
"""

print(student_card)

Saylani Welfare International Trust
Advance Data Science / Artificial Intelligence

Roll no: 00012

Name: Shahzad Khan 	 Father's Name: Shabbir Khan
Batch: Batch 3              Timings: 09:00pm - 12:00am

In [39]:
student_card = """
Saylani Welfare International Trust
Advance Data Science / Artificial Intelligence

Roll no: {}

Name: {} \t Father's Name: {}
Batch: {}              Timings: {}     
""" .format(roll_no, student_name, f_name, batch, timings)

print(student_card)

Saylani Welfare International Trust
Advance Data Science / Artificial Intelligence

Roll no: 00012

Name: Shahzad Khan 	 Father's Name: Shabbir Khan
Batch: Batch 3              Timings: 09:00pm - 12:00am

In [40]:
student_card = """
Saylani Welfare International Trust
Advance Data Science / Artificial Intelligence

Roll no: {1}

Name: {0} \t Father's Name: {2}
Batch: {3}              Timings: {4}     
""" .format(roll_no, student_name, f_name, batch, timings)

print(student_card)

Saylani Welfare International Trust
Advance Data Science / Artificial Intelligence

Roll no: Shahzad Khan

Name: 00012 	 Father's Name: Shabbir Khan
Batch: Batch 3              Timings: 09:00pm - 12:00am

# + operator with string

In [42]:
a1 = "1" string
a2 = "1" string
print(a1+a2) concatination

SyntaxError: invalid syntax (1914035087.py, line 1)

In [43]:
s1 = 70
s2 = 50
s3 = 80
s4 = 30

"total obtain marks: " + str(s1+s2+s3+s4)

'total obtain marks: 230'

In [15]:
s1 = 70
s2 = 50
s3 = 80
s4 = 30

f"total obtain marks: + str(s1+s2+s3+s4)

SyntaxError: EOL while scanning string literal (2227785324.py, line 6)

In [ ]:
# return funtion = Answer can be use as variable

In [47]:
a1 = print("Qasim")
print(a1)

Qasim
None

In [14]:
a1 = input("Your Good Name ") # Always return string value

Your Good Name Shahzad Khan

#  Logical Operators - Boolean Operators

In [50]:
a1 = "Shahzad"
a2 = "Shahzad Khan"
a1 == a2

False

In [51]:
a1 = "Shahzad"
a2 = "shahzad Khan"
a1 == a2

False

In [52]:
5 > 3

True

In [53]:
5 > 7

False

In [54]:
5 < 3

False

In [55]:
5 < 7

True

In [56]:
5 >= 5

True

In [58]:
5 <= 5

True

In [59]:
5 != 5

False

# Python Membership Operator

In [12]:
p1 = """
We are leraning AI in Saylani, We love to write python code... """

'Saylani' in p1

True

In [11]:
p1 = """
We are leraning AI in Saylani, We love to write python code... """

'Saylani' not in p1

False

# Python Identity Operators

In [62]:
a1 = "Shahzad"
a2 = "Shahzad"

a1 is a2

True

In [65]:
name = "Shahzad Khan"
f_name = "Shabbir Khan"
gender = "Male"
id_no = 42000-8642519-2
dob = '20-07-1984'
doi = '01-01-2020'
doe = '01-01-2030'

cnic_card = f"""

PAKISTAN  NATIONAL IDENTITY CARD
Name: {name}
Father's Name: {f_name}
Gender: {gender}   Country of Stay: Pakistan
Identity Number: {id_no}   Date of Birth: {dob}
Date of Issue: {doi}     Date of Expiry: {doe}"""
print(cnic_card)

PAKISTAN  NATIONAL IDENTITY CARD
Name: Shahzad Khan
Father's Name: Shabbir Khan
Gender: Male   Country of Stay: Pakistan
Identity Number: -8600521   Date of Birth: 20-07-1984
Date of Issue: 01-01-2020     Date of Expiry: 01-01-2030

In [10]:
a1 = int(input("Maths "))
a2 = int(input("Science "))
a3 = int(input("Pakistan Studies "))
a4 = int(input("Islamiyat "))
a5 = int(input("Urdu "))
re = (a1 + a2 + a3 + a4 + a5)
print("Total Number", re)
per = (re/500*100)
print(per)

Maths 80
Science 77
Pakistan Studies 89
Islamiyat 90
Urdu 82
Total Number 418
83.6