# Nested -

# Tupple
are immutable and can not be change

# Set {}
# Dictionary {}

# Class 5:
    * Nested List
    * Tuple
    * Set
    * Dictionary

In [6]:
data = [['1','qasim','msds'],
        ['2','asif','ai'],
        ['3','kashif','DS']]
print(data[1][1])
print(data[2][-1])

asif
DS

# tuple

In [12]:
names = ('Shahzad','Qasim','Akram')
print(names[-1])
print(names[-2])
print(names[:2])

Akram
Qasim
('Shahzad', 'Qasim')

In [11]:
names = ('Shahzad','Qasim','Akram')

SyntaxError: invalid syntax (4010907619.py, line 1)

In [13]:
names[-1-] = "Hamza"

SyntaxError: invalid syntax (4010907619.py, line 1)

 # Set

In [14]:
names = {"Shahzad", "Qasim", "Khan",'Arshad','Khan'}
names

{'Arshad', 'Khan', 'Qasim', 'Shahzad'}

In [15]:
set(['a','b','a','a'])

{'a', 'b'}

# Dictionary

In [ ]:
index - key
value - elements

In [16]:
            0         1    2          2          # index      
data = ['Shahzad','Khan','AI','9 pm to 12 am']  # Value / elements
# key always int or string, hashable
data = {
    #key  :  value
    "name":'Shahzad',
    'fname':'Khan',
    'course':'AI',
    'timing':'9 pm to 12 am'
}

data

SyntaxError: invalid syntax (441314833.py, line 1)

In [17]:
data = ['Shahzad','Khan','AI','9 pm to 12 am']

data = {
    #key  :  value
    "name":'Shahzad',
    'fname':'Khan',
    'course':'AI',
    'timing':'9 pm to 12 am'
}

data

{'name': 'Shahzad', 'fname': 'Khan', 'course': 'AI', 'timing': '9 pm to 12 am'}

In [20]:
data['course']

'AI'

In [21]:
print(data._class_) # attribute

dict

AttributeError: 'dict' object has no attribute '_class_'

# tuple method

In [22]:
names = ('a','b','c','a')
print(names)

('a', 'b', 'c', 'a')

In [23]:
names = ('a','b','c','a')
print(names.count('a'))

2

In [24]:
names = ('a','b','c','a')
print(names.index('b'))

1

In [25]:
dir(names)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [33]:
a = {'a','b','c','a'}
print(a)
a.add('f')
print(a)
# a.clear()
print(a)
print(a.difference({'a','b','x','y','z'}))

{'b', 'a', 'c'}
{'b', 'f', 'a', 'c'}
{'b', 'f', 'a', 'c'}
{'f', 'c'}

In [34]:
old_stu = {1,2,3}
new_stu = {1,2,4,7,9}
print(new_stu.difference(old_stu))

{9, 4, 7}

In [35]:
old_stu = {1,2,3}
new_stu = {1,2,4,7,9}
print(new_stu.intersection(old_stu))

{1, 2}

In [37]:
old_stu = {1,2,3}
new_stu = {1,3,4,7,9}
print(new_stu.intersection(old_stu).intersection({3,8}))

{3}

In [38]:
old_stu = {1,2,3}
new_stu = {1,3,4,7,9}
print(new_stu.isdisjoint(old_stu))

False

In [39]:
old_stu = {1,2,3}
new_stu = {1,3,4,7,9}
print(new_stu.issubset(old_stu))

False

In [40]:
old_stu = {1,2,3}
new_stu = {1,3,4,7,9}
print(new_stu.issuperset(old_stu))

False

In [52]:
old_stu = {1,2,3}
new_stu = {1,3,4,7,9}
print(new_stu.pop())  # remove from last position
print(new_stu.pop())
print(new_stu.pop())
print(new_stu.pop())
print(new_stu.pop())

1
3
4
7
9

In [53]:
new_stu = {1,3,4,7,9}
new_stu.remove(4) # search & then remove it
print(new_stu)

{1, 3, 7, 9}

In [54]:
new_stu = {1,3,4,7,9}
new_stu.update({10,20})
print(new_stu)

{1, 3, 4, 20, 7, 9, 10}

# dictionary

In [55]:
data = {
    #key  :  value
    "name":'Shahzad',
    'fname':'Khan',
    'course':'AI',
    'timing':'9 pm to 12 am'
}

print(data)

{'name': 'Shahzad', 'fname': 'Khan', 'course': 'AI', 'timing': '9 pm to 12 am'}

In [56]:
data = {
    #key  :  value
    "name":'Shahzad',
    'fname':'Khan',
    'course':'AI',
    'timing':'9 pm to 12 am'
}

print(data['timing'])

9 pm to 12 am

In [57]:
data = {
    #key  :  value
    "name":'Shahzad',
    'fname':'Khan',
    'course':'AI',
    'timing':'9 pm to 12 am'
}
print(data.keys())

dict_keys(['name', 'fname', 'course', 'timing'])

In [58]:
data = {
    #key  :  value
    "name":'Shahzad',
    'fname':'Khan',
    'course':'AI',
    'timing':'9 pm to 12 am'
}
print(data.values())

dict_values(['Shahzad', 'Khan', 'AI', '9 pm to 12 am'])

In [59]:
data = {
    #key  :  value
    "name":'Shahzad',
    'fname':'Khan',
    'course':'AI',
    'timing':'9 pm to 12 am'
}
print(data.items())

dict_items([('name', 'Shahzad'), ('fname', 'Khan'), ('course', 'AI'), ('timing', '9 pm to 12 am')])

In [66]:
data1 = data
data1['name'] = 'Akram'
print(data)
print(data1)

{'name': 'Akram', 'fname': 'Khan', 'course': 'AI', 'timing': '9 pm to 12 am'}

In [72]:
data.get("name")
data.get("address")

In [73]:
data = {}
data['id'] = 1
data['name'] ='Shahzad'
data['timings'] = '9 pm to 10 pm'
data

{'id': 1, 'name': 'Shahzad', 'timings': '9 pm to 10 pm'}

In [74]:
data.setdefault('course', 'AI')

'AI'

In [75]:
data.setdefault('id')

1

In [79]:
print(data)
print(data.pop('id')

SyntaxError: unexpected EOF while parsing (506548439.py, line 2)

In [80]:
data1 = {'id':20,
         'name':'Shahzad',
         'id':26}
data1

{'id': 26, 'name': 'Shahzad'}