# Python Collections (Arrays)
 ### List = mutable (can change)
         List is a collection which is ordered and changeable. Allows duplicate members.
         x = ["apple", "banana", "cherry"]
        
 ### Tuple = Immutable (can not change)
         Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
         x = ("apple", "banana", "cherry") 
    
 ### Set:
         Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
         x = {"apple", "banana", "cherry"}
    
### Dictionary:
         Dictionary is a collection which is ordered** and changeable. No duplicate members.
         x = {"name" : "John", "age" : 36}

## List

In [11]:
this_list = ['apple', 'banana', 'orange', 'cherry']
print(this_list)
print(type(this_list))

['apple', 'banana', 'orange', 'cherry']
<class 'list'>

In [12]:
this_list = ['apple', 'banana', 'orange', 'cherry','apple','cherry']
print(this_list) # ordered / duplicate values
print(this_list[1])
print(this_list[1:4])
print(this_list[0:5])
print(this_list[-2])

['apple', 'banana', 'orange', 'cherry', 'apple', 'cherry']
banana
['banana', 'orange', 'cherry']
['apple', 'banana', 'orange', 'cherry', 'apple']
apple

In [20]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(this_list[:5]) # Consider 0 starting point when there is no value before collen
print(this_list[0:]) # Consider last index point when there is no value after collen

['apple', 'banana', 'orange', 'cherry']
['apple', 'banana', 'orange', 'cherry']

In [8]:
a = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
a.append("Pineapple") # use append function to add new item in end of list
a.remove("banana") # use remove function to remove any particuler item from list permanently
a.insert(1, "banana") # use insert function to add new item in list
print(a)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Pineapple']

In [14]:
thislist = list(("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")) 
print(type(thislist))  # can also create list through list() constructor

<class 'list'>

In [11]:
num = [1, 5, 11, 0, 3, 20]
num.reverse() # reverse the sequence
num.sort() # sort from smaller to larger in original list
num.append(72) # append number
num.append(56) # append number
num.append(67) # append number
num.append(32) # append number
print(num)

[0, 1, 3, 5, 11, 20, 72, 56, 67, 32]

In [20]:
num = []
num.append(20) # append number
num.append(5) # append number
num.append(2) # append number
num.append(30) # append number
num.insert(0, 1) # insert 1 on index 0
num.sort() # then sort the list
print(num)

[1, 2, 5, 20, 30]

In [21]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("yes, 'apple' in the fruit list")

yes, 'apple' in the fruit list

In [22]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "Kiwi"
print(thislist)

['apple', 'Kiwi', 'cherry']

In [25]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = "Kiwi", "oranges", "melon"
print(thislist)

['Kiwi', 'oranges', 'melon', 'cherry']

In [28]:
thislist = ["apple", "banana", "cherry"]
thislist[-3:-1] = "Kiwi", "oranges", "melon"
print(thislist)

['Kiwi', 'oranges', 'melon', 'cherry']

In [2]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "melon")
print(thislist)

['apple', 'melon', 'banana', 'cherry']

In [4]:
thislist = ["apple", "banana", "cherry"]
thislist.append("melon")
print(thislist)

['apple', 'banana', 'cherry', 'melon']

In [6]:
list1 = ["apple", "banana", "cherry"]
list2 = ["mango", "pineapple", "papaya"]
list1.extend(list2)
print(list1)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [7]:
list = ["apple", "banana", "cherry"]
list.remove("banana") # use remove function to remove item
print(list)

['apple', 'cherry']

In [8]:
list = ["apple", "banana", "cherry"]
list.pop(2) # use pop function to remove item through index number
print(list)

['apple', 'banana']

In [9]:
list = ["apple", "banana", "cherry"]
list.pop()
print(list)

['apple', 'banana']

## Tuple

In [48]:
tp = ("apple", "banana", "cherry", "apple") # tuple comprises of round bracket
# tp[1] = 8  can not change values of tuple so found error
# a = tp.count("apple") count function counts "apple" in tuple set
# b = tp.index("cherry") index function check indexing
print(b)

2

## Dictionary - is nothing but key value pairs

In [68]:
d1 = {}
# print(type(d1))
d2 = {"Shahzad":"Burger", "Aamir":"Broast", "Zain":"Biryani","Zubair":"Sandwitch"}
# print(d2)
# d2["Shahid"] = "Haleem" adding Shahid : Haleem in dictionary
# del d2["Zain"] delete Zain : Biryani from dictionary
# print(d2["Shahzad"]) print key "Shahzad" vale "Burger"
# print(d2.keys()) return values are "keys"
# print(d2.items()) return key value pairs
# d3 = d2 if we delete any key from d3 it automatically delete from d2
# del d3["Zubair"]
# d3 = d2.copy() copy all key value pair of d2 to d3 
# del d3["Zubair"] now delet key "Zubair" from d3 and print d2 shallow copy is availble of "Zubair" in d2
# d2.update({"Shakir":"Egg"}) update key value pair in d2
print(d2)

{'Shahzad': 'Burger', 'Aamir': 'Broast', 'Zain': 'Biryani', 'Zubair': 'Sandwitch', 'Shakir': 'Egg'}

## Python Loop List

### for loop

In [18]:
list = ["apple", "banana", "cherry"]
for x in list:
    print(x)

apple
banana
cherry

IndentationError: expected an indented block (2319265287.py, line 5)

In [16]:
list = ["apple", "banana", "cherry"]
# for x in list:
# print(x)

for i in range(len(list)):
    print(list[i])

apple
banana
cherry

In [23]:
for x in "1", "2", "3", "4":
    for y in "Shahzad", "Khan", "Akram", "Elahi":
        print(x, y)

1 Shahzad
1 Khan
1 Akram
1 Elahi
2 Shahzad
2 Khan
2 Akram
2 Elahi
3 Shahzad
3 Khan
3 Akram
3 Elahi
4 Shahzad
4 Khan
4 Akram
4 Elahi

### The Break Statement

   - With the break statement we can stop the loop before it has looped through all the items:

In [37]:
fruits = ["apple", "banana", "cherry", "orange", "melon", "pineapple"]
for x in fruits:
    print(x)
    if x == "orange":
        break
        
#fruits = ["apple", 2, "banana", 5, "cherry", 3, "orange", 9, "melon", 11, "pineapple", 15]
#for fruit in fruits:
 #   print(fruit)
  #  if x == "melon, 11":
   
    #break

apple
banana
cherry
orange

In [30]:
a = input("Name: \t" )
b = input("Father's Name: \t" )
c = input("Roll Number: \t" )
admit_card = f"""
Name: {a}\nFather's Name: {b}\nRoll No: {c}

"""
print(admit_card)

Name: 	Shahzad Khan
Father's Name: 	Shabbir Khan
Roll Number: 	2810008

Name: Shahzad Khan
Father's Name: Shabbir Khan
Roll No: 2810008