# Variable are like placeholder / container

### Variable

""""

A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)

""""

### Data Types

"""

Text Type:	str

a = "Hello"   # str


Numeric Types:	int, float, complex

x = 1    # int

y = 2.8  # float

z = 1j   # complex



Sequence Types:	list, tuple, range


Mapping Type:	dict


Set Types:	set, frozenset


Boolean Type:	bool


Binary Types:	bytes, bytearray, memoryview


None Type:	NoneType

"""

In [12]:
var1 = "Hello World"
var2 = 4
var3 = 36.5
print(type(var1))
print(type(var2))
print(type(var3))

<class 'str'>
<class 'int'>
<class 'float'>

# Concatinate

In [13]:
var1 = "Hello World"
var2 = 4
var3 = 36.5
print(var1 + var2)

TypeError: can only concatenate str (not "int") to str

In [14]:
var1 = "Hello World "
var2 = "Harry"
var3 = 36.5
print(var1 + var2) # Concatinate / When we add 2 types of strings

Hello World Harry

In [16]:
var1 = "100 "
var2 = "20"
var3 = 36.5
print(var1 + var2) # Concatinate / When we add 2 types of strings

100 20

### String Modifications

In [2]:
a = "Hello World "
print(a.upper())  # all string will be change to upper case
print(a.lower())  # all string will be change to lower case

HELLO WORLD
hello world

In [21]:
a = " Hello, World! "
print(a.strip())  # The strip() method removes any whitespace from the beginning or the end:
print(a)
print(a.replace("Hello", "Yellow"))

Hello, World!
 Hello, World!
 Yellow, World!

### String Format

In [11]:
age = 36
txt = "My Name is Khan, I am" + age
print(txt) # error as this case is solved through format

TypeError: can only concatenate str (not "int") to str

In [13]:
age = 36
txt = "My name is Khan, I am {} years old"
print(txt.format(age))

My name is Khan, I am 36 years old

In [14]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [15]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {2} pieces of item {0} for {1} dollars."
print(myorder.format(quantity, itemno, price))

I want 49.95 pieces of item 3 for 567 dollars.

### Escape Character

In [16]:
txt = "We are the so-called \"Vikings\" from the north"  # Use \ (backslash) for high lighting keyword in "double quotes" comment   
print(txt)

We are the so-called "Vikings" from the north.

In [20]:
txt = "We are the so-called 'Vikings' from the north."
print(txt)

We are the so-called 'Vikings' from the north.

 # Type Casting

In [ ]:
"""
str()
int()
float()

""""

in order to change string to integer we perform following task

In [17]:
var1 = "100 "
var2 = "20"
var3 = 36.5
print(int(var1) + int(var2)) # change string values to integar

120

### if we want to print any thing x 10 we perform following task

In [18]:
a = "Hello World"
print(10 * a)

Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World

In [27]:
a = "Hello World"
print(10 * "Hello World\n"), print(10 * "Bye Bye World\n")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

Bye Bye World
Bye Bye World
Bye Bye World
Bye Bye World
Bye Bye World
Bye Bye World
Bye Bye World
Bye Bye World
Bye Bye World
Bye Bye World

(None, None)

In [28]:
var1 = "100 "
var2 = "20"
var3 = 36.5
print(10 * int(var1) + int(var2)) # we perform this action to replicate answer = 10 times but result is some thing else due to int value.

1020

### We need to convert int to str in order to replicate answer = 10 times

In [2]:
var1 = "100 "
var2 = "20"
var3 = 36.5
print(10 * str(int(var1) + int(var2)))

120120120120120120120120120120

### User input

In [33]:
print("Enter your Num")
input_name = input()
print("Please Enter your num", input_name)

Enter your Num
77
Please Enter your num 77

In [36]:
print("Enter your Num")
input_name = input()
print("Please Enter your num", input_name*10) # string x 10 - return value string x 10

Enter your Num
77
Please Enter your num 77777777777777777777

In [39]:
print("Enter your Num")
input_name = (input())
print("Please Enter your num", int(input_name)*10) # Convert string to integer and return value is multiply

Enter your Num
77
Please Enter your num 770

In [46]:
print("Calculator")
a = int(input())
b = int(input())
print("Enter First Number: ", a)
print("Enter Second Number: ", b)
print("Sum of Input Numbers: ", a+b)

Calculator
77
88
Enter First Number:  77
Enter Second Number:  88
Sum of Input Numbers:  165

In [50]:
print("Calculator")
print("Enter First Number: ")
a = input()
print("Enter Second Number: ")
b = input()
print("Sum of Input Numbers: ", int(a) + int(b))

Calculator
Enter First Number:
77
Enter Second Number:
88
Sum of Input Numbers:  165