# Variable are like placeholder / container

In [12]:
var1 = "Hello World"
var2 = 4
var3 = 36.5
print(type(var1))
print(type(var2))
print(type(var3))

<class 'str'>
<class 'int'>
<class 'float'>

# Concatinate

In [13]:
var1 = "Hello World"
var2 = 4
var3 = 36.5
print(var1 + var2)

TypeError: can only concatenate str (not "int") to str

In [14]:
var1 = "Hello World "
var2 = "Harry"
var3 = 36.5
print(var1 + var2) # Concatinate / When we add 2 types of strings

Hello World Harry

In [16]:
var1 = "100 "
var2 = "20"
var3 = 36.5
print(var1 + var2) # Concatinate / When we add 2 types of strings

100 20

 # Type Casting

In [ ]:
"""
str()
int()
float()

""""

in order to change string to integer we perform following task

In [17]:
var1 = "100 "
var2 = "20"
var3 = 36.5
print(int(var1) + int(var2)) # change string values to integar

120

### if we want to print any thing x 10 we perform following task

In [18]:
a = "Hello World"
print(10 * a)

Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World

In [27]:
a = "Hello World"
print(10 * "Hello World\n"), print(10 * "Bye Bye World\n")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

Bye Bye World
Bye Bye World
Bye Bye World
Bye Bye World
Bye Bye World
Bye Bye World
Bye Bye World
Bye Bye World
Bye Bye World
Bye Bye World

(None, None)

In [28]:
var1 = "100 "
var2 = "20"
var3 = 36.5
print(10 * int(var1) + int(var2)) # we perform this action to replicate answer = 10 times but result is some thing else due to int value.

1020

### We need to convert int to str in order to replicate answer = 10 times

In [2]:
var1 = "100 "
var2 = "20"
var3 = 36.5
print(10 * str(int(var1) + int(var2)))

120120120120120120120120120120

### User input

In [33]:
print("Enter your Num")
input_name = input()
print("Please Enter your num", input_name)

Enter your Num
77
Please Enter your num 77

In [36]:
print("Enter your Num")
input_name = input()
print("Please Enter your num", input_name*10) # string x 10 - return value string x 10

Enter your Num
77
Please Enter your num 77777777777777777777

In [39]:
print("Enter your Num")
input_name = (input())
print("Please Enter your num", int(input_name)*10) # Convert string to integer and return value is multiply

Enter your Num
77
Please Enter your num 770

In [46]:
print("Calculator")
a = int(input())
b = int(input())
print("Enter First Number: ", a)
print("Enter Second Number: ", b)
print("Sum of Input Numbers: ", a+b)

Calculator
77
88
Enter First Number:  77
Enter Second Number:  88
Sum of Input Numbers:  165

In [50]:
print("Calculator")
print("Enter First Number: ")
a = input()
print("Enter Second Number: ")
b = input()
print("Sum of Input Numbers: ", int(a) + int(b))

Calculator
Enter First Number:
77
Enter Second Number:
88
Sum of Input Numbers:  165