In [6]:
name = "Shahzad Khan"
f_name = "Shabbir Khan"
sub = "Finance"
dep = "Management Sciences"
roll_no = 2200181
mat = "80"
acct = "90"
eng = "88"
eco = "90"
tot = "348"


mark_sheet = f"""

---------------------- Humdard University --------------------------------

Name: {name}      Father's Name: {f_name}
Subject: {sub}        Department: {dep}
Roll No.: {roll_no}

Maths: {mat}
Accounts: {acct}
English: {eng}
Economics: {eco}
Total Marks: {tot}"""

print(mark_sheet)

---------------------- Humdard University --------------------------------

Name: Shahzad Khan      Father's Name: Shabbir Khan
Subject: Finance        Department: Management Sciences
Roll No.: 2200181

Maths: 80
Accounts: 90
English: 88
Economics: 90
Total Marks: 348

In [2]:
name = "Shahzad Khan"
f_name = "Shabbir Khan"
sub = "Finance"
dep = "Management Sciences"

roll_no = input("Roll No:\t")
mat = int(input("Maths:\t"))
acct = int(input("Accounts:\t"))
eng = int(input("English\t"))
eco = int(input("Economics:\t"))
tot = (mat+acct+eng+eco)


mark_sheet = f"""

---------------------- Humdard University --------------------------------

Name: {name}      Father's Name: {f_name}
Subject: {sub}        Department: {dep}
Roll No.: {roll_no}

Maths: {mat}
Accounts: {acct}
English: {eng}
Economics: {eco}
Total Marks: {tot}"""

print(mark_sheet)

Roll No:	2000808
Maths:	88
Accounts:	90
English	75
Economics:	78


---------------------- Humdard University --------------------------------

Name: Shahzad Khan      Father's Name: Shabbir Khan
Subject: Finance        Department: Management Sciences
Roll No.: 2000808

Maths: 88
Accounts: 90
English: 75
Economics: 78
Total Marks: 331